@import '../../colors.scss';

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  height: 85%;
  border-radius: 1rem;
  color: $black;
  font-size: 1.75rem;

  h1 {
    text-align: center;
    padding: 0 2em;
    font-weight: 700;

    .accent {
      color: $complementary-purple;
      background: linear-gradient(-10deg, $complementary-blue, $complementary-purple);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .buttons {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10em;
  }

}