@import '../../colors.scss';

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  height: 85%;
  border-radius: 1rem;
  color: $black;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;

    .accent {
      color: $complementary-purple;
      background: linear-gradient(-10deg, $complementary-blue, $complementary-purple);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .buttons {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @media (min-width: $breakpoint-tablet) {
    h1 {
      font-size: 2.3rem;
    }

    .buttons {
      padding: 0 5em;
    }
  }

  @media (min-width: $breakpoint-laptop) {
    h1 {
      font-size: 3rem;
      padding: 0 5em;
    }

    .buttons {
      padding: 0 10em;
    }
  }

}