@import '../../../colors.scss';

.welcome {

  button {
    outline: none;
    border-radius: .25em;
    border: none;
    padding: .5em 1em;
    font-size: 2rem;
    font-weight: bold;
  }

  .filled {
    background: linear-gradient(155deg, $complementary-purple, $complementary-blue);
    color: $white;

    &:hover {
      cursor: pointer;
      background: transparent;
      border: .125em solid $black;
      color: $black;
      padding: .375em .875em;
    }
  }

  .empty {
    background: transparent;
    border: .125em solid $black;
    padding: .375em .875em;
    color: $black;

    &:hover {
      cursor: pointer;
      padding: .5em 1em;
      border: none;
      background: linear-gradient(155deg, $complementary-purple, $complementary-blue);
      color: $white;
    }
  }
}