$base-color: #FFF01F;
$accent-dark: #F5BC00;
$accent-light: #C6F41E;
$complementary-blue: #352BB2;
$complementary-purple: #B4169B;
$black: #000000;
$white: #FFFFFF;

//shadows
$base-color-shadow: #FFF01F4C;
$accent-dark-shadow: #FFCC1F4C;
$accent-light-shadow: #C6F41E4C;
$complementary-blue-shadow: #352BB24C;
$complementary-purple-shadow: #B4169B4C;
$black-shadow: #0000004C;
$white-shadow: #FFFFFF4C;