@import './colors.scss';
// $theme-colors: (
//   "primary": #00d953,
//   "danger": #ff4136
// );

$primary: $complementary-blue;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 5rem 2rem;
  background: $base-color;
  background: linear-gradient(150deg, $base-color 0%, $accent-dark 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .form {
    height: 85%;
    width: 35%;
    min-height: 550px;
    min-width: 300px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: .25rem;
    padding: 1.5rem;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background: linear-gradient(150deg, $complementary-purple, $complementary-blue);
      border-radius: .25rem;
      box-shadow: 5px 5px 5px 0px $complementary-blue-shadow;
    }
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;
      z-index: -1;
      background: linear-gradient(150deg, $base-color 0%, $accent-dark 100%);
      border-radius: .25em;
    }
  
    .form-buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    h1 {
      margin: 0;
      font-size: 2.5rem;
      text-align: center;
    }
  }
}