$primary: #19d900;

@import '../node_modules/bootstrap/scss/bootstrap';
@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 5rem 2rem;
  background: $base-color;
  background: linear-gradient(150deg, $base-color 0%, $accent-dark 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    display: flex;
    height: 100%;
    width: 100%;
  }
}