@import '../../colors.scss';

.register-form {
  height: 85%;
  width: 35%;
  min-height: 550px;
  min-width: 400px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: .25rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(150deg, $complementary-purple, $complementary-blue);
    border-radius: .25rem;
    box-shadow: 5px 5px 5px 0px $complementary-blue-shadow;
  }
  &::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    z-index: -1;
    background: linear-gradient(150deg, $base-color 0%, $accent-dark 100%);
    border-radius: .25em;
  }
}